<footer class="footer__main">
    <ul>
        <li><a href="#" class="footer__hyperlink">Ofertas</a></li>
        <li><a href="#" class="footer__hyperlink">Preguntas Frecuentes</a></li>
        <li><a href="#" class="footer__hyperlink">Contacto</a></li>
    </ul>
    <ul class="footer__social">
        <li><a href="#" target="_blank"><img src="/images/icon-twitter.png" alt="Twitter Logo" class="icon__twitter"></a></li>
        <li><a href="#" target="_blank"><img src="/images/icon-facebook.png" alt="Facebook Logo" class="icon__facebook"></a></li>
        <li><a href="#" target="_blank"><img src="/images/icon-instagram.jpg" alt="Instagram Logo" class="icon__instagram"></a></li>
        <li><a href="#" target="_blank"><img src="/images/icon-linkedin.png" alt="Linkedin Logo" class="icon__linkedin"></a></li>
        <li><a href="#" target="_blank"><img src="/images/icon-youtube.png" alt="Youtube Logo" class="icon__youtube"></a></li>
    </ul>
</footer>