<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', { css:'register_style' } ) %> 
<body>
    <div class="container">
        
        <!-- header -->
	    <%- include('../partials/headerSinLogin') %>
        <!-- /header --> 
        
        <article class="header__usuarioregisterbusiness">  </article>   
            <h1 class="Titulo_pagina"> Completa tus datos.</h1> 
            <div class="date_personal"> 
            <a class="create__personal" href="/users/register">crea una cuenta personal</a> <br>
                
            <input class="input__nombre" type="text" name="name" placeholder="Nombre">
            <input class="input__nombre" type="text" name="lastname" placeholder="Apellido">
            </div>    
            <article class="seleccion_provincia">
                <h2>Selecciona provincia</h2>
                <select class="input__nombre" name="provincia" id="provincia">
                    <option value="bsas">Buenos Aires</option>
                    <option value="capfed">C.A.B.A.</option>
                    <option value="cata">Catamarca</option>
                    <option value="chac">Chaco</option>
                    <option value="chub">Chubut</option>
                    <option value="cord">Córdoba</option>
                    <option value="corri">Corrientes</option>
                    <option value="entr">Entre Ríos</option>
                    <option value="form">Formosa</option>
                    <option value="Jujuy">Jujuy</option>
                    <option value="lapam">La Pampa</option>
                    <option value="lario">La Rioja</option>
                    <option value="mdz">Mendoza</option>
                    <option value="misio">Misiones</option>
                    <option value="nqn">Neuquén</option>
                    <option value="rion">Rio Negro</option>
                    <option value="salta">Salta</option>
                    <option value="sanju">San Juan</option>
                    <option value="sanlu">San Luis</option>
                    <option value="sancru">Santa Cruz</option>
                    <option value="sanfe">Santa Fe</option>
                    <option value="santia">Santiago del Estero</option>
                    <option value="tierr">Tierra del Fuego</option>
                    <option value="tucu">Tucumán</option>
                </select>
            </article>
            <h2>CUIT / CUIL</h2>
            <article class="numer_id">        
                <select class="input__nombre" name="identi" id="tipodni">
                    <option value="cuit">cuit</option>
                    <option value="cuil">cuil</option>
                </select>
                <textarea class="input__nombre" name="identificacion" id="dni" cols="30" rows="1" placeholder="1234567"></textarea>
            </article>

            <section class="preference"> 
                <h2>¿Que preferis?</h2>
                <input class="input__nombre" type="checkbox" name="tipo" value="minutas">Minutas 
                <input class="input__nombre" type="checkbox" name="tipo" value="Vegana">Vegana 
                <input class="input__nombre" type="checkbox" name="tipo" value="Vegetariana">Vegetariana 
                <input class="input__nombre" type="checkbox" name="tipo" value="bebidas">Bebidas 
                <input class="input__nombre" type="checkbox" name="tipo" value="Etnicas">Etnicas <br> 
                <input class="input__nombre" type="checkbox" name="tipo" value="pasta">Pastas 
                <input class="input__nombre" type="checkbox" name="tipo" value="carne">Carnes
                <input class="input__nombre" type="checkbox" name="tipo" value="plato">Al Plato  
                <input class="input__nombre" type="checkbox" name="tipo" value="otro">Otros 
            </section>

            <article class="input_mailpass"> 
                <input class="input__email" type="email" id="email" name="email" placeholder="Tu dirección de E-mail">                
                <input class="input__pass" type="password" id="password" name="password" placeholder="Contraseña">                
                <input class="input__pass" type="password" id="password" name="password" placeholder="Confirmar Contraseña">
            </article>   
            
            <section class="botton_summit"> 
                <p class="botton__sumit"> <button type="reset">Limpiar campos</button> </p>
                <p class="botton__sumit"> <button type="submit">Enviar formulario</button> </p>
            </section>         
        
                   
         <!-- footer -->
         <%- include('../partials/footer') %> 
         <!-- /footer -->
    </div>
</body>
</html>